@tailwind base;
@tailwind components;
@tailwind utilities;

.opacity_hover_effect {
    transition: ease-in 0.15s;
    
    &:hover {
        transition: ease-out 0.15s;
        opacity: 0.6;
    }
}

.popup_container {
    background: rgba(0,0,0,0.5);

    .popup_contents_wrapper {
    }
}

.input_textfield {
    &:focus {
        outline: none; 
        border: 1px solid rgba(109,0,194,0.5)
    }
    &:focus-visible {
        outline: none;
        border: 1px solid rgba(109,0,194,0.5)
    }
}

.shadow_no_pos {
    box-shadow: 0 0 0 -15px rgba(0, 0, 0, 0.3);
}

.scroll_button_shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6) !important;

}

.sidebar_shadow {
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}

@keyframes sidebar_expanded {
    from {
       transform: translateX(0px);
    }
    to {
        transform: translateX(-150px);
    }
}

@keyframes sidebar_contracted {
    from {
        transform: translateX(0px);
    }
    to {
        width: 220px;
        transform: translateX(0px);
    }
}

@keyframes folder_item_contracted {
    from {
        max-height: 2000px;
    }
    to {
        max-height: 0px;
    }
}

@keyframes folder_item_expanded {
    from {
        
        max-height: 0px;
    }
    to {
        max-height: 2000px;
    }
}

.sidebar_animation_expanded {
    width: 220px;
    animation-name: sidebar_expanded;
    animation-duration: 400ms;
    animation-direction: reverse;
}


.sidebar_animation_contracted {
    width: 70px;
    animation-name: sidebar_contracted;
    animation-duration: 50ms;
    animation-direction: reverse;
}

.folder_item_animation_contracted {
    animation-name: folder_item_contracted;
    animation-duration: 500ms;
}

.folder_item_animation_expanded {
    animation-name: folder_item_expanded;
    animation-duration: 500ms;
}


@keyframes window_item_contracted {
    from {
        max-height: 2000px;
    }
    to {
        max-height: 0px;
    }
}

@keyframes window_item_expanded {
    from {
        
        max-height: 0px;
    }
    to {
        max-height: 2000px;
    }
}


.window_item_animation_contracted {
    animation-name: window_item_contracted;
    animation-duration: 200ms;
}

.window_item_animation_expanded {
    animation-name: window_item_expanded;
    animation-duration: 200ms;
}

.scroll_up_button_shadow {
    box-shadow: 0 0 6px #828282;
}

.search_bar_result_container {
    box-shadow: 0 0 #000
}