body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: transparent; 
}

body::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218);
    border-radius: 16px;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 218, 218);
}